@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap);
*{box-sizing:border-box}
html{font-family:Poppins,sans-serif;font-size:18px}
body{margin:0;padding:0;font-weight:500}
.mw{max-width:1440px;margin:0 auto;padding-right:20px;padding-left:20px}
ul li{list-style:none}
ul li a{text-decoration:none;color:#bfbfbf;font-weight:500}
header{z-index:10;width:100%;background:#fff}
.header-wrap{flex-grow:1;padding-top:15px;padding-bottom:15px;display:flex;justify-content:space-between}
.header-wrap .wrapper{flex-grow:1;display:flex;justify-content:space-between;margin-left:20px}
.header-wrap .wrapper ul li:hover a{color:#232127}
.header-wrap .hamburger{display:none}
.header-wrap .header-logo{align-self:center;margin-top:10px}
.header-wrap .header-logins{justify-self:flex-end}
.header-wrap .header-logins .sign-up{padding:10px 20px;border-radius:25px;background:#2acfcf;color:#fff}
.header-wrap .header-logins .sign-up:hover{transition:.3s all ease-in-out;background:#7ce4e4;color:#fff}
@media screen and (max-width:769px){
.header-wrap .header-logins .sign-up{width:100%;text-align:center}
}
.overflow{overflow-x:hidden}
.working{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;margin-bottom:10%;align-items:center}
.working .text{flex:1 0 50%}
.working .text h1{font-size:4rem;margin-bottom:10px;line-height:4rem}
.working .text p{width:80%;font-size:18px;color:#bfbfbf}
@media screen and (max-width:768px){
.working .text p{width:100%}
}
.working .text a{display:inline-block;text-decoration:none;padding:20px 40px;margin-top:30px;border-radius:50px;background:#2acfcf;color:#fff}
.working .text a:hover{transition:.3s all ease-in-out;background:#7ce4e4}
.working .work{flex:1 0 50%}
.working .work img{transform:translateX(25%);max-width:100%}
@media screen and (max-width:426px){
.working .work img{width:100%;height:100%;position:static}
}
.result{display:flex;padding:15px 20px;margin-top:30px;flex-wrap:wrap;justify-content:space-between;flex-direction:row;align-items:center;flex-grow:1;background-color:#fff;border-radius:10px}
.result__from{flex-grow:1;padding:0;border-style:none;max-width:700px;word-break:break-word;flex-grow:1;padding:0;border-style:none}
.result__to{padding:10px 15px;color:#2acfcf}
.result__links-wrap{flex-grow:1;display:flex;flex-wrap:wrap;align-items:center;margin-right:30px;justify-content:space-between}
.result__btn{width:150px;padding:10px 25px;font-family:Poppins,sans-serif;font-size:18px;border-radius:10px;outline:0;border-style:none;background-color:#2acfcf;color:#fff;cursor:pointer}
.result__btn--active{background-color:#3b3054}
@media screen and (max-width:769px){
.result__btn{width:100%;margin:0}
}
.url-short{position:relative;padding-bottom:100px}
.url-short::after{content:"";display:block;position:absolute;z-index:-1;top:90px;left:0;right:0;bottom:0;background:#f0f1f6}
.url-short .form.error .form__input--error{box-shadow:inset 0 0 0 3px #f46262}
.url-short .form.error .form__label--error{display:block;visibility:visible;position:absolute;left:50%;transform:translateX(-50%);width:100%}
.url-short .form .form__label{display:none;margin:5px 0 0;font-size:.7rem;font-style:italic;visibility:hidden}
.url-short .form .form__label--error{color:#f46262}
.url-short .form .url-shortner{text-align:center;position:relative;border-radius:10px;padding:5%;background:url(\images\bg-shorten-desktop.svg);background-position:center;background-repeat:no-repeat;background-size:cover;background-color:#3b3054}
.url-short .form .url-shortner .inner-wrap{display:flex;max-width:100%;flex-wrap:wrap;align-items:center;gap:20px}
.url-short .form .url-shortner .inner-wrap input[type=text]{flex:1 0 900px;padding:20px;border-radius:10px;outline:0;border:none;max-width:100%;font-size:1rem;font-family:Poppins,sans-serif}
.url-short .form .url-shortner .inner-wrap .input-btn{max-width:100%;text-decoration:none;font-size:1rem;font-family:Poppins,sans-serif;font-weight:700;flex:1 0 100px;padding:20px;border:none;border-radius:10px;color:#fff;background:#2acfcf}
.url-short .form .url-shortner .inner-wrap .input-btn:hover{background:#7ce4e4}
.url-short .statistics{text-align:center;padding:100px 0}
.url-short .statistics h2{margin:0;font-size:2rem}
.url-short .statistics p{margin:0 auto;width:50%;color:#bfbfbf}
.url-short .brand-wrapper{max-width:1440px;margin:auto}
.url-short .brand-wrapper .brand-perform{display:flex;flex-wrap:wrap;justify-content:center;max-width:100%;margin-bottom:100px;min-height:350px;gap:75px 30px}
.url-short .brand-wrapper .brand-perform .brand{position:relative;background:#fff;flex-basis:30%;padding:40px;border-radius:10px}
.url-short .brand-wrapper .brand-perform .brand h2{font-size:1.3rem;margin:30px 0 20px}
.url-short .brand-wrapper .brand-perform .brand p{font-size:.8rem}
.url-short .brand-wrapper .brand-perform .brand2,.url-short .brand-wrapper .brand-perform .brand3{align-self:center}
.url-short .brand-wrapper .brand-perform .brand2::before,.url-short .brand-wrapper .brand-perform .brand3::before{content:"";position:absolute;width:30px;height:8px;background:#2acfcf;top:45px}
.url-short .brand-wrapper .brand-perform .brand2::before,.url-short .brand-wrapper .brand-perform .brand3::before{left:-30px}
@media screen and (max-width:769px){
.url-short .brand-wrapper .brand-perform .brand2::before,.url-short .brand-wrapper .brand-perform .brand3::before{top:-64px;right:0;left:0;bottom:0;margin:0 auto;transform:rotate(90deg)}
}
.url-short .brand-wrapper .brand-perform .brand1{align-self:flex-start}
.url-short .brand-wrapper .brand-perform .brand3{align-self:flex-end}
.url-short .brand-wrapper .brand-perform .brand-svg{position:absolute;left:45px;top:-45px;padding:22px 25px;background:#3b3054;border-radius:50%}
@media screen and (max-width:769px){
.url-short .brand-wrapper .brand-perform .brand-svg{width:90px;left:0;right:0;margin:auto}
}
.url-short .brand-wrapper .brand-perform .brand-desc p{color:#bfbfbf}
.boost-links{text-align:center;height:250px;background:url(\images\bg-boost-desktop.svg);background-position:center;background-repeat:no-repeat;background-size:cover;background-color:#3b3054;color:#fff;display:flex;justify-content:center;align-items:center;flex-direction:column}
.boost-links h3{font-weight:700;font-size:1.6rem;margin-top:0;margin-bottom:20px}
.boost-links a{text-decoration:none;color:#fff;font-size:1rem;font-weight:700;padding:20px 40px;background:#2acfcf;border-radius:50px}
.boost-links a:hover{background:#7ce4e4}
.common-hover a:hover svg path,footer .footer-wrap .footer-links .social-links ul li a:hover svg path{fill:#2acfcf;transition:.3s all ease-in-out}
ul li a:hover{color:#2acfcf}
.wrapper2{background:#232127}
footer *{max-width:100%}
footer .footer-wrap{display:flex;flex-wrap:wrap;max-width:1440px;margin:auto;padding:5% 0}
footer .footer-wrap .footer-brand{flex:1 0 400px}
@media screen and (max-width:426px){
footer .footer-wrap .footer-brand{text-align:center}
}
footer .footer-wrap .footer-links{display:flex;flex-wrap:wrap;flex:3 0 700px;column-gap:70px;justify-content:center}
footer .footer-wrap .footer-links .links h5{color:#fff;font-weight:700;padding-top:0;padding-bottom:30px}
@media screen and (max-width:426px){
footer .footer-wrap .footer-links .links h5{text-align:center;width:100%}
}
footer .footer-wrap .footer-links .links ul{padding:0}
footer .footer-wrap .footer-links .links ul li{margin-bottom:15px}
footer .footer-wrap .footer-links .links ul li a{font-size:.8rem}
footer .footer-wrap .footer-links .social-links ul{padding:0;margin:0}
footer .footer-wrap .footer-links .social-links ul li{display:inline-block;padding:0 15px}
@media screen and (max-width:426px){
footer .footer-wrap .footer-links .social-links ul li{padding:0 10px}
}
.header-logins,.wrapper ul{display:flex;justify-content:center;align-items:center;gap:20px}
@media screen and (max-width:769px){
.header-logins,.wrapper ul{flex-direction:column}
}
.header-logins a,.wrapper ul a{text-decoration:none;font-weight:700;color:#bfbfbf}
@media screen and (max-width:769px){
header{position:fixed}
.header-wrap{flex-direction:column;align-items:center}
.header-logins,.wrapper ul{flex-direction:column;align-items:center;padding:30px 0;margin:0;position:relative}
.header-logins::before{content:"";position:absolute;top:0;left:0;width:100%;height:1px;background-color:#bfbfbf}
.header-logins a,.wrapper ul li a{color:#fff}
.header-wrap .header-logo{align-self:flex-start;margin-top:10px}
.header-wrap .wrapper{position:absolute;top:70px;flex-grow:1;visibility:hidden;opacity:0;display:flex;flex-direction:column;width:90%;transform-origin:top center;transform:scale(0);background:#3b3054;transition:.5s all ease-in-out;border-radius:10px;padding:20px;z-index:2;margin:0}
.header-wrap .wrapper.open{transform:none;visibility:visible;opacity:1;z-index:2}
.header-wrap .hamburger{position:absolute;top:30px;right:30px;display:block}
.working{flex-direction:column}
.working .text{text-align:center}
.working .text h1{font-size:30px;line-height:30px}
.working .work{order:-1}
.url-short .url-shortner{background:url(\images\bg-shorten-mobile.svg);background-color:#3b3054;background-position:center;background-repeat:no-repeat;background-size:contain;background-position:right top}
.url-short .brand-wrapper .brand-perform{display:flex;max-width:100%;margin-bottom:100px;min-height:350px;gap:75px 30px;flex-direction:column}
.url-short .brand-wrapper .brand-perform .brand-desc{text-align:center}
.boost-links{background:url(\images\bg-boost-mobile.svg);background-color:#3b3054;background-position:center;background-repeat:no-repeat;background-size:contain;background-position:right top}
}
